/*
  Authors: Bryan Henson & Angie Dinh
  Date: 02/24/208
  Version: 1.0
  Purpose: Redesign of BFF Asian Grill for CTEC 4309
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Slabo+27px');

/*=========== Reset and Basic Structure ===========*/

body{
  color:#333;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size:1rem;
  font-weight: 300;
  line-height:1.5;
  margin:0 auto;
  max-width: 1920px;
  overflow-x:hidden;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

  h1 {
    font-size: 2.618em;
    line-height: 3rem;
  }

  h2 {
    font-size: 1.618em;
    line-height: 1.5rem;
  }

  h3 {
    font-size: 1.2em;
    line-height: 1.5rem;
  }

.container {
  margin: 0;
  max-width: 100%;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  padding: 0;
  width: 80%;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

button {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
  padding: 1em 2em;
  background-color: #142440;
  border: 1px solid #DAAC27;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #DAAC27;
  border: 1px solid #142440;
}

/*=========== End of Reset and Basic Structure ===========*/

/*=========== Navigation ===========*/

.logo {
  max-width: 90px;
  max-height: 90px;
  margin: 0 1.5em;
  padding: 0;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  padding: 0.5em 2em;
  background-color: #142440;
  color: #ffffff;
  border-bottom: 2px solid #DAAC27;
}

.navigation a {
  color: #ffffff;
}

.link a:hover {
  color: #DAAC27;
  border-bottom: 1px solid #dAAC27;
}
.nav-list {
  display: flex;
  list-style-type: none;
}

.link {
  margin: 0 1.5em;
}

/*=========== End of Navigation ===========*/

/*=========== Carousel ===========*/


/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 60vh;
  position: relative;
  margin: auto;
  overflow: hidden;
}

/* Hide the images by default */
.mySlides {
    display: none;
    height: 100%;

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  padding: 8px 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-100px);
  width: 100%;
  height: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*=========== End of carousel ===========*/

/*=========== Features ===========*/

.feature-container {
  margin: 4em;
  text-align: center;
}

.feature-links {
  display: flex;
  justify-content: space-between;
  margin-top: 4em;
  box-sizing: border-box;

}

.feature {
  max-width: 400px;
  max-height: 400px;
  margin: 1em;
}

.feature img {
  max-width: 100%;
  margin: 0 auto;
}

.feature img:hover {
  box-shadow: 5px 10px 18px #888888;
}

/* ========================= Footer ========================================= */

footer {
  width: 100%;
  height: 100%;
  background-color: #142440;
  margin: 1em 0 0;
  padding: 3em 0;
  border-top: 1px solid #666666;
  background-image: url("../img/BFF-Logo-Rotate.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  border-top: 2px solid #DAAC27;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);



  display: flex;
  display: -webkit-flex;

  flex-direction: row;
  -webkit-flex-direction: row;

  align-content: center;
  -webkit-align-content: center;

  color: #fff;
}

.footer-content {
  display: flex;
  display: -webkit-flex;

  justify-content: space-between;
  -webkit-justify-content: space-between;

  flex-direction: row;
  -webkit-flex-direction: row;

  align-items: flex-start;
  -webkit-align-items: flex-start;
}

.footer-links-container {
  box-sizing: border-box;
  margin: 0;

  display: flex;
  display: -webkit-flex;

  flex-direction: row;
  -webkit-flex-direction: row;

  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;


  flex-basis: 60%;
  -webkit-flex-basis: 60%;

}

.footer-links {
  display: flex;
  display: -webkit-flex;

  flex-direction: column;
  -webkit-flex-direction: column;

  flex-basis: 30%;
  -webkit-flex-basis: 30%;
}

.footer-links:last-of-type {
  flex-basis: 40%;
  -webkit-flex-basis: 40%;
}

.footer-links ul {
  list-style-type: none;
}

.footer-links ul li:first-of-type {
  color: #DAAC27;
}

.footer-subscribe {
  box-sizing: border-box;
  margin: 0;

  flex-basis: 35%;
  -webkit-flex-basis: 35%;
}

.footer-subscribe strong {
  color: #DAAC27;
}

.footer-subscribe .btn-1 {
  color: white;
}

.footer-subscribe .btn-1:hover {
  color: white;
}

@media only screen and (max-width: 900px){
  .footer-content {
    flex-direction: column;
    -webkit-flex-direction: column;
  }

  .footer-links-container {
    width: 100%;

    flex-direction: column;
    -webkit-flex-direction: column;

    justify-content: center;
    -webkit-justify-content: center;

    text-align: center;
  }

  .footer-subscribe {
  }

  footer {
    background-position: bottom;
  }
}


/* ========================= End of Footer ================================== */

/* ========================= Tabbed MENU ================================== */


/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    box-sizing: border-box;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: #142440;
    border-radius: 0;
    border-bottom: 2px solid transparent;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: #DAAC27;
  border-bottom: 2px solid #dAAC27;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
    border-bottom: 2px solid #dAAC27;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* ========================= End of Tabbed MENU ================================== */

.blog-posts{
  margin-top: 100px;
}

.post{
  border: 1px solid #e1e1e1;
  padding: 20px 20px 0;
  background: #fff;
  position: relative;
}

.post-1{
  transform: translate(100px, 20px);
}

.post-2{
  z-index: 2;
}

.post-3{
  transform: translate(-100px, 20px);
}


/* =====================Banner========================== */

.banner {
  height: 200px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.banner img {
  width: 100%;
}

/* =====================End of Banner========================== */