/*
  Authors: Bryan Henson & Angie Dinh
  Date: 02/24/208
  Version: 1.0
  Purpose: Redesign of BFF Asian Grill for CTEC 4309
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Slabo+27px');

/*=========== Reset and Basic Structure ===========*/

body{
  color:#333;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size:1rem;
  font-weight: 300;
  line-height:1.5;
  margin:0 auto;
  max-width: 1920px;
  overflow-x:hidden;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

  h1 {
    font-size: 2.618em;
    line-height: 3rem;
  }

  h2 {
    font-size: 1.618em;
    line-height: 1.5rem;
  }

  h3 {
    font-size: 1.2em;
    line-height: 1.5rem;
  }

.container {
  margin: 0;
  max-width: 100%;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  padding: 0;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.center {
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

button {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
  padding: 1em 2em;
  background-color: #142440;
  border: 1px solid #DAAC27;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.text-align-center {
  text-align: center;
}

button:hover {
  background-color: #DAAC27;
  border: 1px solid #142440;
}

.button {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
  padding: 1em 2em;
  background-color: #142440;
  border: 1px solid #DAAC27;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  max-width: 20em;
}

.button:hover {
  background-color: #DAAC27;
  border: 1px solid #142440;
}

/*=========== End of Reset and Basic Structure ===========*/

/*=========== Colored Backgrounds =============*/

.blue {
  background: #142440;
  color: #ffffff;
  border: 1px solid #DAAC27;
}

.blue-text {
  color: #114422;
}

.yellow {
  background: #DAAC27;
  color: #142440;
  border: 1px solid #142440;
}

.yellow-text {
  color: #dAAC27;
}

/*=========== Grid ===================*/
.flex-grid {
  display: flex;
  box-sizing: border-box;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .flex-grid {
    flex-direction: column;
  }
}

.vertical-center {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.padding {
  padding: 1em 2em;
}

.col {
  flex: 1;
}

.gutter {
  margin: 1em;
  box-sizing: border-box;
}

.gutter-side {
  padding: 0 1em;
}

.row:after {
  display: block;
  clear: both;
  content: '';
}

.row {
  margin-top: 0;
  display: flex;
}

[class^="col-"] {
  float: left;
  margin-right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[class^="col-"]:last-child {
  margin-right: 0%;
}

/*
.col-1  { width:5.583333333333333%; }
.col-2  { width:14.16666666666667%; }
.col-3  { width:22.75%; }
.col-4  { width:31.33333333333333%; }
.col-5  { width:39.91666666666667%; }
.col-6  { width:48.5%; }
.col-7  { width:57.08333333333333%; }
.col-8  { width:65.66666666666666%; }
.col-9  { width:74.25%; }
.col-10 { width:82.83333333333333%; }
.col-11 { width:91.41666666666666%; }
.col-12 { width:100%; }
*/
.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

/*=========== Navigation ===========*/

.logo {
  max-width: 80px;
  max-height: 80px;
  margin: 0;
  padding: 0;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  padding: 1em;
  background-color: #142440;
  color: #ffffff;
  border-bottom: 2px solid #DAAC27;
}

.navigation a {
  color: #ffffff;
}

.link a:hover {
  color: #DAAC27;
  border-bottom: 2px solid #dAAC27;
}
.nav-list {
  display: flex;
  list-style-type: none;
}

.link {
  margin: 1em;
}

.icon {
  color: #DAAC27; 
}

.icon img{
  height: 50px;
} 

.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.nav-wrapper {
  width: 100%;
  background: #DAAC27;
  color: #ffffff;
  padding: .5em;
}

.contact-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-links a:hover {
  text-shadow: 2px 2px 4px #000000; 
}

.cta-gift-cards a:hover {
  text-shadow: 2px 2px 4px #000000; 
}


/*=========== End of Navigation ===========*/

/*=========== Carousel ===========*/


/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  padding: 8px 0px 8px 8em;
  position: absolute;
  top: 50%;
  transform: translateY(-150px);
  max-width: 40%;
  height: 100%;
  text-align: left;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*=========== End of carousel ===========*/

/*=========== Features ===========*/

.feature-container {
  margin: 4em;
  text-align: center;
}

.feature-links {
  display: flex;
  justify-content: space-between;
  margin-top: 4em;
  box-sizing: border-box;

}

.feature {
  max-width: 400px;
  max-height: 400px;
  margin: 1em;
}

.feature img {
  max-width: 100%;
  margin: 0 auto;
}

.feature img:hover {
  box-shadow: 5px 10px 18px #888888;
}

.feature-padding {
  padding: 3em;
}

.circle {
  height: 600px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.circle-img {
  border-radius: 50%;
  width: 400px;
  height: 400px;
}

.hero {
  height: 40vh;
  overflow: hidden;
}
/* ========================= Footer ========================================= */

footer {
  width: 100%;
  height: 100%;
  background-color: #142440;
  margin: 1em 0 0;
  padding: 3em 0;
  border-top: 1px solid #666666;
  background-image: url("../img/BFF-Logo-Rotate.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  border-top: 2px solid #DAAC27;

  display: flex;
  display: -webkit-flex;

  flex-direction: row;
  -webkit-flex-direction: row;

  align-content: center;
  -webkit-align-content: center;

  color: #fff;
}

.footer-content {
  display: flex;
  display: -webkit-flex;

  justify-content: space-between;
  -webkit-justify-content: space-between;

  flex-direction: row;
  -webkit-flex-direction: row;

  align-items: flex-start;
  -webkit-align-items: flex-start;
}

.footer-links-container {
  box-sizing: border-box;
  margin: 0;

  display: flex;
  display: -webkit-flex;

  flex-direction: row;
  -webkit-flex-direction: row;

  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;


  flex-basis: 60%;
  -webkit-flex-basis: 60%;

}

.footer-links {
  display: flex;
  display: -webkit-flex;

  flex-direction: column;
  -webkit-flex-direction: column;

  flex-basis: 30%;
  -webkit-flex-basis: 30%;
}

.footer-links:last-of-type {
  flex-basis: 40%;
  -webkit-flex-basis: 40%;
}

.footer-links ul {
  list-style-type: none;
}

.footer-links ul li:first-of-type {
  color: #DAAC27;
}

.footer-subscribe {
  box-sizing: border-box;
  margin: 0;

  flex-basis: 35%;
  -webkit-flex-basis: 35%;
}

.footer-subscribe input {
  padding: .5em;
  margin: .5em 0;
}

.footer-subscribe strong {
  color: #DAAC27;
}

.footer-subscribe .btn-1 {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 16px;
  padding: 1em 2em;
  background-color: #142440;
  border: 1px solid #DAAC27;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.footer-subscribe .btn-1:hover {
  color: white;
}

@media only screen and (max-width: 900px){
  .footer-content {
    flex-direction: column;
    -webkit-flex-direction: column;
  }

  .footer-links-container {
    width: 100%;

    flex-direction: column;
    -webkit-flex-direction: column;

    justify-content: center;
    -webkit-justify-content: center;

    text-align: center;
  }

  footer {
    background-position: bottom;
  }
}


/* ========================= End of Footer ================================== */

/* ========================= Tabbed MENU ================================== */


/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    box-sizing: border-box;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: #142440;
    border-radius: 0;
    border-bottom: 2px solid transparent;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: #DAAC27;
  border-bottom: 2px solid #dAAC27;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
    border-bottom: 2px solid #dAAC27;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* ========================= End of Tabbed MENU ================================== */

.blog-posts{
  margin-top: 100px;
}

.post{
  border: 1px solid #e1e1e1;
  padding: 20px 20px 0;
  background: #fff;
  position: relative;
}

.post-1{
  transform: translate(100px, 20px);
}

.post-2{
  z-index: 2;
}

.post-3{
  transform: translate(-100px, 20px);
}


/* =========== Forms ===================*/
textarea{
  font-family: 'Montserrat', Arial, sans-serif;
  background: #fff;
  width: 60%;
  letter-spacing: -.025em;
  padding: 1em;
  margin: 1em 0;
  border: 1px solid #666666;
  border-radius: 5px;
}

input {
  font-family: 'Montserrat', Arial, sans-serif;
  padding: 1em;
  border-radius: 5px;
  width: 60%;
  margin: 1em 0;
  border: 1px solid #666666;
}


/* =========Beer list =========*/

.beer-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 1em 0;
}

.beer-image {
  margin-right: 2em;
}

.beer-list-title{
  display: flex;
  align-items: baseline;
}

.caption {
  margin-left: 1em;
}

.beer-list-title h3{
  margin: 0;
}

.beer-list-cost {
  font-weight: 700;
}


/*====================Tables================================*/

table {
  background: #ffffff;
  border: 2px solid #666666;
  border-collapse: collapse;
  width: 100%;
  margin: 1em 0;
}

thead {
  background: #142440;
  color: #ffffff;
  border: 1px solid #DAAC27;
}

thead tr td {
  padding: 1em;
  border: 1px solid #DAAC27;
}

tr td {
  padding: 1em;
<<<<<<< HEAD
  border: 1px solid #666666;
}



=======

=======
}

>>>>>>> 4b083d6e66ca64047f4b21de571cc819db4d5547
/* =========Beer list =========*/

.beer-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 1em 0;
}

.beer-image {
  margin-right: 2em;
}

.beer-list-title{
  display: flex;
  align-items: baseline;
}

.caption {
  margin-left: 1em;
}

.beer-list-title h3{
  margin: 0;
}

.beer-list-cost {
  font-weight: 700;
}

/* =====================Locations========================== */

table {
  width: 100%;
  height: auto;
  text-align: left;
}

table tr {
  padding: 0 10px;
}


.business-hours  {
  background: #F5F5F5;
}

.business-hours .title {
  font-size: 20px;
  color: #BBB;
  text-transform: uppercase;
  padding-left: 5px;
  border-left: 4px solid #ffac0c;
  }


.business-hours li {
  color: #888;
  line-height: 30px;
  border-bottom: 1px solid #333;
  padding: 0 5px;
  list-style-type: none;
  }


.business-hours li:last-child {
  border-bottom: none;
  }


.business-hours .opening-hours li.today {
  color: #ffac0c;
  }

.pull-right {
    float: right;
  }


/* =====================End of Locations========================== */

/* =====================Franchise========================== */


.franchise  {
  height: 350px;
  width: auto;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;

}


@media only screen and (min-width: 320px) and (max-width: 1200px) {
    .franchise {
      height: auto;
    }
    #franchise-img  {
      height: auto;
      width: auto;
      background-size: contain;
    }

}


.text-1  {
  text-shadow: #FC0 1px 0 10px;
  font-size: 45px;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
    .text-1 {
      font-size: 25px;
    }
}



.franchise-text  {
  color: white;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.franchise-table tr:last-of-type {
  font-weight: bold;
}


.franchise-table td, th {
  padding: 8px 15px;
  border: none;
}

.franchise-table th {
  background-color: #E5F5FC;
}

.franchise-table {
  font-size: 13px;
  align: center;
  border-collapse: collapse;
  border-bottom: 1px solid #F5F5F5;
  border-left: 1px solid #F5F5F5;
  border-right: 1px solid #F5F5F5;
  margin: 0 auto;
  width: auto;
}

.franchise-table tr:nth-child(odd) {
  background-color: #F5F5F5;
}

.franchise-table tr:nth-child(even) {
  background-color: white;
}

caption {
  font-size: 37px;
}


.franchise-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: auto;
  height: auto;
  justify-content: center;
}


.franchise-form textarea{
  font-family: 'Montserrat', Arial, sans-serif;
  background: #fff;
  width: 100%;
  height: 30px;
  letter-spacing: -.025em;
  padding: 1em;
  margin: 1em 0;
  border: 1px solid #666666;
  border-radius: 5px;
}

.franchise-form input {
  font-family: 'Montserrat', Arial, sans-serif;
  padding: 1em;
  border-radius: 5px;
  margin: 1em 1em;
  border: 1px solid #666666;
}

.franchise-form .column  {
  width: 400px;
  margin: 3px;
}

.franchise-form input.radio  {
  width: 3px;
}

.franchise-form input.submit-button {
  width: 200px;
  color: white;
  background-color: #DAAC27;
  border: none;
}

.franchise-form input.submit-button:hover {
  color: #DAAC27;
  background-color: white;
  border: 1px solid #DAAC27;
}

.column1 {
  padding: 15px;
}


.active, .collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}


.collapsible  {
  text-align: center;
  background-color: #DAAC27;
  color: white;
  padding: 10px;
  font-size: 25px;
  border-bottom: 1px solid white;
}

.collapsible:hover {
  background-color: white;
  color: #DAAC27;
  border: 1px solid #DAAC27;
}

.mystyle {
    width: 100%;
    padding: 25px;
    background-color: coral;
    color: white;
    font-size: 25px;
}


.onclick  {
  margin: 0px 0px 30px;
}



.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}


.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 50px;
    border: 1px solid #888;
    width: 50%;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#form-btn  {
  margin: 30px auto;
  display: flex;
  -webkit-display: flex;
  justify-content: center;
  -webkit-justify-content: center;
}

<<<<<<< HEAD

.content, .content p {
  text-indent: 1em;
  background-color: white;
  text-align: center;
  padding: 6px 0px;

}




/* =====================End of Franchise========================== */
=======
/* =====================End of Franchise========================== */
>>>>>>> 4b083d6e66ca64047f4b21de571cc819db4d5547
